@charset "utf-8";
@use '../foundation/vars' as v;
@use '../foundation/mixin' as m;

/* header
----------------------------------------------------------------- */
.l-header {
  &__inner {
    @include m.flex;
  }

  &__logo {
    font-size: 4rem;
    font-family: v.$fontOpenSans;
    font-weight: 700;
    letter-spacing: 0.05em;
  }

}
