@charset "utf-8";
@use '../../foundation/vars' as v;
@use '../../foundation/mixin' as m;

/* link
----------------------------------------------------------------- */
.u-link {

  &--tel {
    color: inherit;
    text-decoration: none;
    cursor: default;
  }

}
